{% extends 'manage.html'%}
{% block content%}
{% if !userInfo.name ||userInfo.name!="admin"%}
<script>
    alert("请先登入管理员账号！");
    window.location.replace('/');
</script>
{%endif%}
<div class="div2" id="div2" >
    <span class="span1" >管理首页</span>
    <span>/</span>
    <span id="span2">内容列表</span>
    <h2 style="margin-left: -10px">内容列表</h2>
    <table class="table1">
        <tr class="tr1">
            <td class="td11">ID</td>
            <td class="td22">分类名称</td>
            <td class="td33">标题</td>
            <td class="td44">作者</td>
            <td class="td55">添加时间</td>
            <td class="td66">阅读量</td>
            <td class="td77">操作</td>
        </tr>
        {%for content in content%}
        <tr >
            <td class="td11">{{content._id.toString()}}</td>
            <td class="td22">{{content.c_name}}</td>
            <td class="td33">{{content.title}}</td>
            <td class="td44">{{content.author}}</td>
            <td class="td55">{{content.times}}</td>
            <td class="td66">{{content.read_s}}</td>
            <td class="td77"><a href="/admin/modify_content?id={{content._id.toString()}}">修改</a>|<a href="/admin/delete_content?id={{content._id.toString()}}">删除</a></td>

        </tr>
        {%endfor%}


    </table>
</div>
<nav aria-label="..." >
    <ul class="pager">

        <li class="previous" style="position: absolute;top: 400px;left: 150px"><a href="#" id="last3"><span aria-hidden="true">&larr;</span> 上一页</a></li>
        <li style="position: absolute;top: 400px;left: 300px">一共有<span>{{count}}</span>条数据，每页显示<span>{{limit}}</span>数据，一共有<span >{{ totalPage}}</span>页,当前第<span >{{page}}</span>页</li>

        <li class="next" style="position: absolute;top: 400px;left: 800px"><a href="#" id="next3">下一页<span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>
{%if page>=totalPage%}
<p id="tips" style="position: absolute;top: 320px;left: 420px;color: red;">我已经到底了,不能再往后了</p>
{%endif%}
{%if page==1%}
<p id="tips1" style="position: absolute;top: 320px;left: 420px;color: red;">我已经到头了,不能再往前了</p>
{%endif%}

<form id="form3" action="/admin/add_index" style="display: none" >
    <input type="text" value={{page}} id="page3" name="page">

</form>

{%endblock%}